.App {
    text-align: center;
}

@media (prefers-reduced-motion: no-preference) {
    .App-logo {
        animation: App-logo-spin infinite 20s linear;
    }
}

.App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.App-link {
    color: #61dafb;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}


/*   Personal Touch    */

header {
    background-image: linear-gradient(120deg, rgb(0, 0, 0), rgb(36, 140, 148));
    color: rgb(226, 226, 226);
    height: 7vh;
    align-items: center;
    justify-content: space-around;
    text-align: center;
}

* {
    margin: 0;
    padding: 0;
    font-family: 'roboto';
}

body {
    min-height: 100vh;
    background-image: linear-gradient(120deg, rgb(0, 0, 0), rgb(49, 94, 53));
    min-width: 100vw;
}

.Add {
    justify-content: space-around;
    text-align: center;
}

.add {
    width: 40%;
}

#remindrs {
    width: 60%;
    text-align: center;
}

.add-btn button {
    background-color: white;
    border: none;
    border-left: none;
    color: black;
    width: 5vh;
    font-size: 25px;
    height: 5vh;
    cursor: pointer;
}

.add-btn button:hover {
    background-color: black;
    color: white;
    border: none;
}

#input {
    width: 20vw;
    height: 4.4vh;
    font-size: 20px;
    border: solid white 2px;
}

.input {
    display: flex;
    text-align: center;
    padding: 0;
    width: auto;
    margin: 5vh 0vw 5vh 10vw;
}

.text {
    font-size: 4vh;
    color: white;
    padding-top: 5vh;
}

#display {
    justify-content: space-around;
    display: flex;
}

#remindrs h1 {
    color: white;
    text-align: center;
    padding: 5vh;
}

.del-btn {
    color: white;
    cursor: pointer;
    width: 5vh;
    height: 5vh;
    font-size: 20px;
    border: none;
    background-color: transparent;
}

.del-btn:hover {
    color: red;
}

.check-btn {
    color: white;
    cursor: pointer;
    width: 5vh;
    height: 5vh;
    font-size: 20px;
    border: none;
    background-color: transparent;
}

.check-btn:hover {
    color: green;
}